/* styles.css */
.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 250px;
  }
  
  .product-detail {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
  }
  