.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #3498db;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1; /* Updated background color */
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .imgDiv img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    padding: 15px;
    text-align: center;
  }
  
  h3 {
    color: #2c3e50; /* Updated text color */
    margin-bottom: 10px;
  }
  
  p {
    color: #7f8c8d; /* Updated text color */
    margin-bottom: 20px;
    line-height: 1.4;
  }
  
  h3.price {
    color: #c0392b; /* Updated price color */
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #1B3C73;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9; /* Darker shade on hover */
  }

  .custom-link {
    text-decoration: none; 
    color: inherit; /* Inherit text color */
  }
  